/* Section */ 

.partenaires {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 7%;
 }

section img {
    margin: auto;
    margin-top: 10%;
    margin-bottom: 50px;
}

/* Règles si la résolution de l'écran fait au plus 1024 px */

@media all and (max-width: 1024px)
{
    .partenaires {
        width: auto;
        margin: auto;
    }

    .commentaires {
        width: auto;
        margin: auto;
        height: auto;
    }
}

/* Règles pour les navigateurs mobiles */

@media all and (max-device-width: 480px)
{
    .partenaires {
        width: auto;
        margin: auto;
    }

    .commentaires {
        width: auto;
        margin: auto;
        height: auto;
    }
}


